
<!-- This is the base header file for all our web pages -->

<div class="header">
	<div class="header-container">
		<a href="/"><div class="logo">
			Collaborate
		</div></a>	
		
		<div class="top-nav">
			<ul>
				<li><a href="./"> Jobs </a></li>
				<li><a href="./about"> About </a></li>
				<li><a href="./contact"> Contacts </a></li>
				<li><a href=""> Register </a></li>
		</div>
</div>
